a{
    color: #020101;
    font-weight: 600;
    text-decoration: none; 
}

li:first-child{
    background-color: rgb(227, 113, 187);
}

li:last-child{
    background-color: aquamarine;
    color: #020101;
    font-weight: 600;   
}

li:nth-child(even){
    background-color: rgb(163, 127, 255);
    color: #020101;
    font-weight: 600;   
}
li:nth-child(3){
    background-color: rgb(253, 255, 127);
    color: #020101;
    font-weight: 600;   
}
li:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    cursor: pointer;
}
a:hover{
    color: #ffffff;
}
