button {
    background-color: hsl(271, 76%, 53%);
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 4px;
}
button:hover{
    background-color: rgb(220, 40, 226);
    color: aqua;
    cursor: pointer;
}
.cont{
    background-color: rgb(126, 190, 80);
    color: #020101;
    font-weight: 600;
    text-decoration: none;
}
.prod{
    background-color: rgb(126, 190, 80);
    color: #020101;
    font-weight: 600;
    text-decoration: none;
}
.cont:hover{
    background-color: rgb(38, 243, 175);
    color: #ffffff;
    text-decoration: underline;
}
.prod:hover{
    background-color: rgb(38, 243, 175);
    color: #ffffff;
    text-decoration: underline;
}